<div *ngIf="infoLineHorizontal" class="content-container">
    <div class="info-box">
        <div class="info-text-right">
            <span class="infoText"> {{ infoText }} </span>
        </div>
        <span class="vertical-text"> {{ verticalText }} </span>
        <div class="line-container">
            <div class="horizontal-line"></div>
        </div>
    </div>
</div>

<div *ngIf="!infoLineHorizontal" class="content-container">
    <div class="info-box">
        <div class="line-container">
            <div class="horizontal-line"></div>
        </div>
        <span class="vertical-text"> {{ verticalText }} </span>
        <div class="info-text-left">
            <span class="infoText"> {{ infoText }} </span>
        </div>
    </div>
</div>