.content-container-right{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-container-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.content-container-left{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-container-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  gap: 70px;
}
  
.info-text-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 150px;
  border-right: 2px solid black;
}

.info-text-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 150px;
  border-left: 2px solid black;
}

.infoText{
  font-size: 20px;
}
  
.vertical-text {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 120px;
}
  
.line-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 5px;
  background-color: black;
}