header {
    display: flex;
    justify-content:space-around;
    background-color: #1c7ee0;
    color: #fff;
    padding: 1rem;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    gap: 0.5rem;
    text-decoration: none;

    a {
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        gap: 0.5rem;
        text-decoration: none;

        .icon {
            width: 2rem;
            height: 2rem;
            background-size: cover;
            background-position: center;
        }

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }

    .code {
        background-image: url('../../../../public/img/icon-code.png');
    }
    
    .active-page .code {
        background-image: url('../../../../public/img/icon-code-select.png');
    }

    span {
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        font-size: 0.875rem;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }

    .active-page span{
        color: #a4d484
    }
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    gap: 2rem;
    text-decoration: none;

    a {
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        gap: 0.5rem;
        text-decoration: none;

        .icon {
            width: 2rem;
            height: 2rem;
            background-size: cover;
            background-position: center;
        }

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }

    .about {
        background-image: url('../../../../public/img/icon-about.png');
    }
    
    .active-page .about {
        background-image: url('../../../../public/img/icon-about-select.png');
    }

    .experience {
        background-image: url('../../../../public/img/icon-experience.png');
    }
    
    .active-page .experience {
        background-image: url('../../../../public/img/icon-experience-select.png');
    }

    .projects {
        background-image: url('../../../../public/img/icon-projects.png');
    }
    
    .active-page .projects {
        background-image: url('../../../../public/img/icon-projects-select.png');
    }

    .contact {
        background-image: url('../../../../public/img/icon-contact.png');
    }
    
    .active-page .contact {
        background-image: url('../../../../public/img/icon-contact-select.png');
    }
    

    span {
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        font-size: 0.875rem;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }

    .active-page span{
        color: #a4d484
    }
  
}

.language {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;

    span {
        color: #fff;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        font-size: 0.875rem;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }
}