<header class="header">

    <a class="home" routerLink="/home">
        <img src="img/icon-code.png" alt="icon code">
        <span>Vinicius.dev</span>
    </a>

    <div class="menu">
        <a routerLink="/about">
            <img src="img/icon-about.png" alt="icon about">
            <span>Sobre</span>
        </a>
        <a routerLink="/experience">
            <img src="img/icon-experience.png" alt="icon experience">
            <span>Experiência</span>
        </a>
        <a routerLink="/projects">
            <img src="img/icon-projects.png" alt="icon projects">
            <span>Projetos</span>
        </a>
        <a routerLink="/contact">
            <img src="img/icon-contact.png" alt="icon contact">
            <span>Contato</span>
        </a>
    </div>

    <div class="language">
        <span>PT</span>
    </div>

</header>
  