.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    position: fixed;
    top: 0; 
    left: 0;
    width: 3.75rem;
    height: 100vh;
    z-index: 1000;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: var(--color-main);
}

.header img {
    width: 1.5rem;
    height: 1.5rem;
}

.header__home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    flex-grow: 1;
}

.header__icon-button {
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer;
}

.header__vertical-text {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 1rem;
}

.header__vertical-text--gap {
    gap: 0.5rem;
}

.header__links {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 100%;
    overflow: hidden;
    width: 0;
    height: 50px;
    background-color: var(--color-secondary);
    gap: 15px;
    transition: all 0.5s ease-in-out;
}

.header__menu.active {
   width: 100vw;
}

.header__menu-item,
.header__identity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.header__menu-item {
    text-decoration: none;
}

.header__site-identity {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    position: fixed;
    top: 0.625rem; 
    right: 1.875rem; 
    gap: 0.5rem;
    font-weight: bold;
    color: var(--color-secondary);
}

.header__site-identity--hidden {
    display: none;
}

@media (max-width: 768px) {
    .header {
        width: 2.5rem;
    }
}

@media (max-width: 426px) {
    .header {
        width: 1.875rem; 
    }
}