<header>

  <div class="home">

    <button class="icon-button" (click)="toggleMenu()">
      <img src="img/header/icon-home.png" alt="Home Icon">
    </button>
  
    <span class="vertical-text gap"> 
      <img src="img/header\icon-code-white-vertical.png" alt="Home Icon">
      <span>Vinicius.dev</span>
    </span>
    
    <span class="vertical-text">{{ currentDate | date: 'dd/MM' }}</span>

    <div class="hiperlink">
      <a href="https://github.com/Viniciussir" target="_blank" rel="noopener noreferrer">
        <img src="img/header\icon-github.png" alt="github icon">
      </a>
  
      <a href="https://www.linkedin.com/in/viniciusscampini/" target="_blank" rel="noopener noreferrer">
        <img src="img/header\icon-linkedin.png" alt="linkedin icon">
      </a>
    </div>

  </div>

  <div class="menu" [class.active]="menuOpen" #menu>

    <a>
      <img src="img/header\icon-about.png" alt="Sobre Icon">
      <span>Sobre</span>
    </a>
    <a>
      <img src="img/header\icon-project.png" alt="Projetos Icon">
      <span>Projetos</span>
    </a>  
    <a>
      <img src="img/header\icon-contact.png" alt="Contato Icon">
      <span>Contato</span>
    </a>
    <div class="identity">
      <img src="img/header\icon-code-white.png" alt="Home Icon">
      <span>Vinicius.dev</span>
    </div>
    
  </div>

  <div class="site-identity" [ngClass]="{'hidden': menuOpen}">
    <img src="img/header\icon-code-black.png" alt="Home Icon">
    <span>Vinicius.dev</span>
  </div>

</header>
  