<div class="contact-details">

  <app-contact-box
    [contactName]="'Whatsapp'"
    [contactDescription]="'+5513981006977'"
    [contactImg]="'img/contact/icon-whatsapp.png'"
    [borderColor]="'#25D366'">
  </app-contact-box>

  <app-contact-box
    [contactName]="'Celular'"
    [contactImg]="'img/icon-angular.png'">
  </app-contact-box>

  <app-contact-box
    [contactName]="'Celular'"
    [contactImg]="'img/icon-angular.png'">
  </app-contact-box>

  <app-contact-box
    [contactName]="'Celular'"
    [contactImg]="'img/icon-angular.png'">
  </app-contact-box>

</div>
  