<div class="contact-details-container">

  <div class="contact-details">

    <app-contact-box
      [contactName]="'Whatsapp'"
      [contactDescription]="'013981006977'"
      [contactImg]="'img/contact/icon-whatsapp.png'"
      [borderColor]="'#25D366'">
    </app-contact-box>
  
    <app-contact-box
      [contactName]="'E-mail'"
      [contactDescription]="'viniciusscampini@gmail.com'"
      [contactImg]="'img/contact/icon-mail.png'"
      [borderColor]="'#1E90FF'">
    </app-contact-box>

    <app-contact-box
      [contactName]="'Telegram'"
      [contactDescription]="'@Viniciussir'"
      [contactImg]="'img/contact/icon-telegram.png'"
      [borderColor]="'#0088CC'">
    </app-contact-box>

    <app-contact-box
      [contactName]="'Local'"
      [contactDescription]="'São Paulo - Brasil'"
      [contactImg]="'img/contact/icon-pin.png'"
      [borderColor]="'#585858'">
    </app-contact-box>
  
    <app-contact-box
      [contactName]="'Github'"
      [contactDescription]="'github.com/Viniciussir'"
      [contactImg]="'img/contact/icon-github.png'"
      [borderColor]="'#000000'">
    </app-contact-box>

    <app-contact-box
      [contactName]="'Linkedin'"
      [contactDescription]="'linkedin.com/in/viniciusscampini'"
      [contactImg]="'img/contact/icon-linkedin.png'"
      [borderColor]="'#0E76A8'">
    </app-contact-box>
  
  </div>

</div>