.contact-details-container {
  width: 550px;
  aspect-ratio: 1;
  overflow: hidden;
}
.contact-details {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}