<div class="experience">

  <section class="content" [class.visible]="isVisible">
    <h1>Experiências</h1>
    <app-experience-item 
      *ngFor="let exp of experiences" 
      [date]="exp.date" 
      [title]="exp.position" 
      [subtitle]="exp.company"
      [courseType]="exp.courseType">
    </app-experience-item>
  </section>

  <section class="content" [class.visible]="isVisible">
    <h1>Formação</h1>
    <app-experience-item 
      *ngFor="let edu of education" 
      [date]="edu.date" 
      [title]="edu.degree" 
      [subtitle]="edu.school"
      [courseType]="edu.courseType">
    </app-experience-item>
  </section>
      
</div>
  