<div class="experience">
    <section class="content">
        <h1>Experiências</h1>
        <div class="item-experience">
            <span class="date">2022 a 2024</span>
            <h3 class="position">Engenheiro de Software</h3>
            <span class="company">Procenge</span>
        </div>
        <div class="item-experience">
            <span class="date">2021 a 2022</span>
            <h3 class="position">Desenvolvedor de Software</h3>
            <span class="company">Procenge</span>
        </div>
        <div class="item-experience">
            <span class="date">2018 a 2020</span>
            <h3 class="position">Técnico de Informatica</h3>
            <span class="company">PoupaTempo</span>
        </div>
    </section>

    <section class="content">
        <h1>Educação</h1>
        <div class="item-experience">
            <span class="date">2024 a 2025</span>
            <h3 class="degree">Engenharia de Software</h3>
            <span class="school">PUC Minas</span>
        </div>
        <div class="item-experience">
            <span class="date">2019 a 2023</span>
            <h3 class="degree">Engenharia da Computação</h3>
            <span class="school">Universidade São Judas</span>
        </div>
        <div class="item-experience">
            <span class="date">2015 a 2017</span>
            <h3 class="degree">Técnico em Eletrônica</h3>
            <span class="school">Etec Aristóteles Ferreira</span>
        </div>
    </section>
</div>
