.experience {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  max-width: 840px;
  margin: 0 auto;
  align-items: flex-start; 
  gap: 30px;
}

@media (max-width: 1400px) {
  .experience {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
    align-content: center;
  }
}

@media (max-width: 900px) {
  .experience {
    grid-template-columns: 1fr; 
    justify-content: center;
    align-content: center;
  }
}
  
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 20px;
  box-shadow: inset 0px -3px 0px 0px #000000, 0px -3px 0px 0px #000000;
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}
  