<div class="container">

    <app-about-info-box
        [infoTitle]="infoTitleOne"
        [infoText]="infoTextOne"
        [verticalText]="verticalTextOne"
        [direction]="'left'">
    </app-about-info-box>

    <app-about-info-box
        [infoTitle]="infoTitleTwo"
        [infoText]="infoTextTwo"
        [verticalText]="verticalTextTwo"
        [direction]="'right'">
    </app-about-info-box>

    <app-about-info-box
        [infoTitle]="infoTitleThree"
        [infoText]="infoTextThree"
        [verticalText]="verticalTextThree"
        [direction]="'left'">
    </app-about-info-box>

    <app-about-info-box
        [infoTitle]="infoTitleFour"
        [infoText]="infoTextFour"
        [verticalText]="verticalTextFour"
        [direction]="'right'">
    </app-about-info-box>

    <app-about-info-box
        [infoTitle]="infoTitleFive"
        [infoText]="infoTextFive"
        [verticalText]="verticalTextFive"
        [direction]="'left'">
    </app-about-info-box>

</div>
