<div class="container">
    <div class="content">

        <div class="box">
            <div class="box-text">
                <span>Vinicius Coelho Scampini</span>
                <span>24 anos</span>
            </div>
            <span class="vertical-text">V</span>
            <div class="box-line">
                <div class="line"></div>
            </div>
        </div>

        <div class="box">
            <div class="box-line">
                <div class="line"></div>
            </div>
            <span class="vertical-text">C</span>
            <div class="box-text">
                <span>Engenhearia da Computação - Univerdade São Judas</span>
            </div>
        </div>

        <div class="box">
            <div class="box-text">
                <span>Engenhearia de Software - Pontifícia Universidade Católica (Puc)</span>
            </div>
            <span class="vertical-text">S</span>
            <div class="box-line">
                <div class="line"></div>
            </div>
          
        </div>

    </div>
  
</div>

<!-- <span class="text-content" >
    Engenheiro de Software com 3 anos de experiência em desenvolvimento de software e liderança técnica. 
    Possuo forte habilidade na resolução de bugs, desenvolvimento de soluções inovadoras e colaboração 
    interdisciplinar. Minha experiência inclui a criação de soluções robustas e escaláveis, além de um 
    histórico comprovado de liderança em projetos de alta complexidade. Estou sempre em busca de novos 
    desafios e oportunidades para aplicar minhas habilidades técnicas e de liderança para contribuir 
    para o sucesso dos projetos.
</span> -->


<!-- <div class="tecnologias">
    <div class="title-tecnologia">Tecnologias</div>
    <div class="box-container">

        <app-skill-box
            skillName="Angular"
            skillImg="img/icon-angular.png"
            borderColor="#cf0430">
        </app-skill-box>

        <app-skill-box
            skillName="TypeScript"
            skillImg="img/icon-typescript.png"
            borderColor="#047bcc">
        </app-skill-box>

        <app-skill-box
            skillName="React"
            skillImg="img/icon-react.png"
            borderColor="#05d8fb">
        </app-skill-box>

        <app-skill-box
            skillName="RxJS"
            skillImg="img/icon-rxjs.png"
            borderColor="#d41f84">
        </app-skill-box>

        <app-skill-box
            skillName="HTML5"
            skillImg="img/icon-html5.png"
            borderColor="#ec3c33">
        </app-skill-box>

        <app-skill-box
            skillName="CSS3"
            skillImg="img/icon-css3.png"
            borderColor="#049be4">
        </app-skill-box>

        <app-skill-box
            skillName="Git"
            skillImg="img/icon-git.png"
            borderColor="#f25334">
        </app-skill-box>

        <app-skill-box
            skillName="GitHub"
            skillImg="img/icon-github.png"
            borderColor="#040404">
        </app-skill-box>

    </div>
  
</div> -->