.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f9;
}

@media (max-width: 768px){
    
  .container {
    margin-left: 40px;
  }
  
}

@media (max-width: 426px) {

  .container {
    margin-left: 30px;
  }

}