<div class="container">

    <app-structured-box
        [infoTitle]="infoTitleOne"
        [infoText]="infoTextOne"
        [verticalText]="verticalTextOne"
        [direction]="'left'">
    </app-structured-box>

    <app-structured-box
        [infoTitle]="infoTitleTwo"
        [infoText]="infoTextTwo"
        [verticalText]="verticalTextTwo"
        [direction]="'right'">
    </app-structured-box>

    <app-structured-box
        [infoTitle]="infoTitleThree"
        [infoText]="infoTextThree"
        [verticalText]="verticalTextThree"
        [direction]="'left'">
    </app-structured-box>

    <app-structured-box
        [infoTitle]="infoTitleFour"
        [infoText]="infoTextFour"
        [verticalText]="verticalTextFour"
        [direction]="'right'">
    </app-structured-box>

    <app-structured-box
        [infoTitle]="infoTitleFive"
        [infoText]="infoTextFive"
        [verticalText]="verticalTextFive"
        [direction]="'left'">
    </app-structured-box>

    <app-structured-box
        [infoTitle]="infoTitleSix"
        [infoText]="infoTextSix"
        [verticalText]="verticalTextSix"
        [direction]="'right'">
    </app-structured-box>

    <app-structured-box
        [infoTitle]="infoTitleSeven"
        [infoText]="infoTextSeven"
        [verticalText]="verticalTextSeven"
        [direction]="'left'">
     </app-structured-box>

</div>
