@keyframes typing1 {
    from { width: 0; }
    to { width: 4ch; }
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 20ch; }
}

@keyframes typing3 {
    from { width: 0; }
    to { width: 25ch; }
}

@keyframes hideCursor1 {
    from { border-right: 4px solid rgba(0, 0, 0, 0.75); }
    to { border-right: none; }
}

@keyframes hideCursor2 {
    from { border-right: 4px solid rgba(0, 0, 0, 0.75); }
    to { border-right: none; }
}

@keyframes hideCursor3 {
    from { border-right: 4px solid rgba(0, 0, 0, 0.75); }
    to { border-right: none; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}