<app-maintenance *ngIf="isUnderMaintenance" (close)="handleCloseMaintenance()"></app-maintenance>

<app-header></app-header>

<section id="home">
  <app-home></app-home>
</section>

<app-vertical-spacer
  [verticaltext]="'Sobre min'"
  [firstColorGradient]="'#ffffff'"
  [secondColorGradient]="'#f4f4f9'">
</app-vertical-spacer>

<section id="about">
  <app-about></app-about>
</section>

<app-vertical-spacer
  [verticaltext]="'Experiencia / Formação'"
  [firstColorGradient]="'#f4f4f9'"
  [secondColorGradient]="'#ffffff'">
</app-vertical-spacer>

<section id="experience">
  <app-experience></app-experience>
</section>

<app-vertical-spacer
  [verticaltext]="'Projetos recentes'"
  [firstColorGradient]="'#ffffff'"
  [secondColorGradient]="'#f4f4f9'">
</app-vertical-spacer>

<section id="projects">
  <app-projects></app-projects>
</section>

<app-vertical-spacer
  [verticaltext]="'Contato'"
  [firstColorGradient]="'#f4f4f9'"
  [secondColorGradient]="'#ffffff'">
</app-vertical-spacer>

<section id="contact">
  <app-contact></app-contact>
</section>

<app-footer></app-footer>
