<div class="project-info">
  <h1>{{ projectTitle }}</h1>
  <h2 class="project-subtitle">Descrição do Projeto</h2>
  <label>{{ projectDescription }}</label>
  <div class="project-tags">
    <span *ngFor="let tag of tags" class="project-tag">
      <span class="tag-dot" [ngStyle]="{ 'background-color': tag.color }"></span>
      {{ tag.name }}
    </span>
  </div>
  <div class="project-buttons">
    <a *ngIf="deployLink" [href]="deployLink" target="_blank" class="btn-deploy">Deploy</a>
    <a *ngIf="githubLink" [href]="githubLink" target="_blank" class="btn-github">GitHub</a>
  </div>
</div>
