.about-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  gap: 30px;
}

.about-info-box--visible {
  opacity: 1;
}

.about-info-box--right, .about-info-box--left {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 2s ease;
}

.about-info-box--right {
  transform: translateX(100%);
}

.about-info-box--right.about-info-box--visible, .about-info-box--left.about-info-box--visible {
  opacity: 1;
  transform: translateX(0);
}

.about-info-box--left {
  transform: translateX(-100%);
}

.about-info-box__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about-info-box__text--right, .about-info-box__text--left {
  width: 400px;
  height: 150px;
  gap: 15px;
}

.about-info-box__text--right {
  border-left: 2px solid black;
}

.about-info-box__text--left {
  border-right: 2px solid black;
}

.about-info-box__title {
  font-size: 25px;
}

.about-info-box__text-content, .about-info-box__optional {
  font-size: 20px;
}

.about-info-box__vertical-text {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 120px;
}

.about-info-box__line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info-box__horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 5px;
  background-color: black;
}

@media (max-width: 1300px) {
  .about-info-box__horizontal-line {
    width: 400px;
  }

  .about-info-box__text--left, .about-info-box__text--right {
    width: 250px;
    height: auto;
    padding: 20px 0;
  }

  .about-info-box__text-content {
    width: 215px;
  }

  .about-info-box__vertical-text {
    font-size: 90px;
  }

  .about-info-box {
    gap: 15px;
  }
}

@media (max-width: 920px) {
  .about-info-box__vertical-text,
  .about-info-box__line-container {
    display: none;
  }

  .about-info-box__text--left::before,
  .about-info-box__text--right::before,
  .about-info-box__text--left::after,
  .about-info-box__text--right::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: black;
  }

  .about-info-box__text--right::before,
  .about-info-box__text--right::after {
    left: 0;
  }

  .about-info-box__text--left::before,
  .about-info-box__text--left::after {
    right: 0;
  }

  .about-info-box__text--left::before, .about-info-box__text--right::before {
    top: 0;
  }

  .about-info-box__text--left::after, .about-info-box__text--right::after {
    bottom: 0;
  }
}

.about-info-box__info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-info-box__info-item {
  padding: 5px;
  font-size: 20px;
  position: relative;
}

.about-info-box__info-item + .about-info-box__info-item::before {
  content: '|';
  margin-right: 10px;
}

@media (max-width: 1300px) {
  .about-info-box__info-container {
    flex-direction: column;
  }
  
  .about-info-box__info-item + .about-info-box__info-item::before {
    content: '';
    margin: 0;
  }
}