<div class="container">
    <div class="text-content">
        <span class="greeting">Olá, meu nome é</span><br>
        <span class="name">Vinicius Coelho Scampini</span><br>
        <span class="role">Desenvolvedor de Software</span><br>

        <a class="download-cv" href="/curriculo-vinicius-coelho-scampini.pdf" download="/curriculo-vinicius-coelho-scampini.pdf">
            <span class="icon-download"></span>
            <span>Baixar Currículo</span>
        </a>
        
    </div>
    <div class="profile-img">
        <img src="img/perfil.png" alt="Perfil de Vinicius Coelho Scampini">
    </div>
</div>
