@import url('../../animations.css');

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: var(--color-main);

    @media (max-width: 767px) {
        height: 100%;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        height: 100%;
    }
}

.text-content {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    justify-content: center;
}

.greeting {
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
    border-right: 4px solid rgba(0, 0, 0, 0.75);
    width: 4ch;  
    white-space: nowrap;
    color: var(--color-secondary);
    overflow: hidden;
    animation: typing1 1s steps(4, end), hideCursor1 0.25s 1s forwards; 
}

.name {
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
    border-right: 4px solid rgba(0, 0, 0, 0.75);
    width: 20ch;  
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    color: var(--color-secondary);
    animation: fadeIn 0.5s 1.25s forwards, typing2 2s steps(20, end) 1.25s forwards, hideCursor2 0.25s 3.25s forwards; 
}

.role {
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
    border-right: 4px solid rgba(0, 0, 0, 0.75);
    width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-secondary);
    opacity: 0;
    animation: fadeIn 0.5s 3.5s forwards, typing3 2.5s steps(25, end) 3.5s forwards, hideCursor3 0.25s 6s forwards; 
}

.profile-img img {
    height: 50vh;
    border-radius: 100px;
    transition: transform 0.5s ease;
}
  
.profile-img img:hover {
    transform: translateY(-25px);
}
  
.download-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
    gap: 0.5rem;
    background-color: var(--color-secondary);
    color: var(--color-main);
}
  
.download-cv:hover {
    background-color: #696969;
}

.icon-download {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-image: url('../../../../public/img/icon-download.png');
}

@media (max-width: 768px){
    
    .greeting, .role, .download-cv {
        font-size: 20px;
    }

    .name {
        font-size: 25px;
    }
    
}

@media (max-width: 426px) {

    .container {
        flex-direction: column;
    }

    .profile-img img {
        height: 40vh;
    }
}