<div class="container">
    <div class="text-content">
     
        <span class="greeting">Olá,</span><br>
        <span class="name">Meu nome é <span class="highlight">Vinicius</span>,</span><br>
        <span class="role">Desenvolvedor de Software</span><br>

        <a class="download-cv" href="/curriculo-vinicius-coelho-scampini.pdf" download="/curriculo-vinicius-coelho-scampini.pdf">
            <span class="icon-download"></span>
            <span>Currículo</span>
        </a>
        
    </div>
</div>
