<div class="projects-container">

  <div class="project">
    <app-project-card
      [projectTitle]="'Portfólio'"
      [imageUrl]="'img/projects/icon-portfolio.png'">
    </app-project-card>

    <app-project-info
      [deployLink]="'https://viniciussir.github.io/portfolio/'"
      [githubLink]="'https://github.com/Viniciussir/portfolio'"
      [tags]="[
      { name: 'Angular', color: '#dd0031' },
      { name: 'TypeScript', color: '#3178c6' },
      { name: 'HTML', color: '#3178c6' },
      { name: 'CSS', color: '#c6538c' }]">
    </app-project-info>
  </div>

  <div class="project">
    <app-project-card
      [projectTitle]="'Portfólio'"
      [imageUrl]="'img/projects/icon-portfolio.png'">
    </app-project-card>

    <app-project-info
      [deployLink]="'https://viniciussir.github.io/portfolio/'"
      [githubLink]="'https://github.com/Viniciussir/portfolio'"
      [tags]="[
      { name: 'Angular', color: '#dd0031' },
      { name: 'TypeScript', color: '#3178c6' },
      { name: 'HTML', color: '#3178c6' },
      { name: 'CSS', color: '#c6538c' }]">
    </app-project-info>
  </div>


</div>
  



