<div class="projects-container">

  <div class="project">
    <app-project-card
      [projectTitle]="projectTitle1"
      [imageUrl]="'img/projects/icon-portfolio.png'">
    </app-project-card>

    <app-project-info
      [projectTitle]="projectTitle1"
      [projectDescription]="projectDescription1"
      [deployLink]="deployLink1"
      [githubLink]="githubLink1"
      [tags]="tags1">
    </app-project-info>
  </div>

  <div class="project">
    <app-project-card
      [projectTitle]="projectTitle1"
      [imageUrl]="'img/projects/icon-portfolio.png'">
    </app-project-card>

    <app-project-info
      [projectTitle]="projectTitle1"
      [projectDescription]="projectDescription1"
      [deployLink]="deployLink1"
      [githubLink]="githubLink1"
      [tags]="tags1">
    </app-project-info>
  </div>


</div>
  



