<div class="projects-container">

  <app-project-card
    [projectTitle]="'Projeto Angular'"
    [deployLink]="'https://deploy-angular.com'"
    [githubLink]="'https://github.com/AngularProject'"
    [imageUrl]="'img/projects/icon-portfolio.png'">
  </app-project-card>

  <app-project-card
    [projectTitle]="'Projeto Angular'"
    [deployLink]="'https://deploy-angular.com'"
    [githubLink]="'https://github.com/AngularProject'"
    [imageUrl]="'img/projects/icon-portfolio.png'">
  </app-project-card>

  <app-project-card
    [projectTitle]="'Projeto Angular'"
    [deployLink]="'https://deploy-angular.com'"
    [githubLink]="'https://github.com/AngularProject'"
    [imageUrl]="'img/projects/icon-portfolio.png'">
  </app-project-card>

  <app-project-card
    [projectTitle]="'Projeto Angular'"
    [deployLink]="'https://deploy-angular.com'"
    [githubLink]="'https://github.com/AngularProject'"
    [imageUrl]="'img/projects/icon-portfolio.png'">
  </app-project-card>

</div>
  



