<div class="project-container">
  <img [src]="imageUrl" [alt]="projectTitle">
  <div class="project-info">
    <h3>{{ projectTitle }}</h3>
    <div class="project-tags">
      <span *ngFor="let tag of tags" class="project-tag">
        <span class="tag-dot" [ngStyle]="{ 'background-color': tag.color }"></span>
        {{ tag.name }}
      </span>
    </div>
    <div class="project-buttons">
      <a [href]="deployLink" target="_blank" class="btn-deploy">Deploy</a>
      <a [href]="githubLink" target="_blank" class="btn-github">GitHub</a>
    </div>
  </div>
</div>
  