/* Base: Branco (#FFFFFF), Cinza Claro (#F5F5F5), Cinza Escuro (#333333) */
/* Destaques:Azul Claro (#1c7ee0) */
/* Destaques: Azul Marinho (#003366), Azul Claro (#0099FF) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #000000 #ffffff;
}

:root {
    --color-main: #ffffff;
    --color-secondary: #000000;
    --color-style: #000000;
}